/tmp
/Manuscrit.pdf
/Manuscrit.synctex.gz
/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
.project
.settings
/.texlipse
/tempPartial00000.pdf
/tempPartial00000.synctex.gz
/makeall.sh
/tempPartial*
.texpadtmp
Biblio/MergedBib.sente6lib/
*xml
